@tailwind base;
@tailwind components;
@tailwind utilities;

/* background color: #EBEBEB */

.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-title{
    display: flex;
    align-items: center;
}

.modal-content{
    margin: 10px;
}

.country-name{
    margin-right: 8px;
}
