@tailwind base;
@tailwind components;
@tailwind utilities;

#outerBackground {
    margin: auto 10px;
    width: auto;
    /* height: 1000px; */
    height: 100vh;
    background-color:#6E7DA2;
}

.headline {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    padding-top: 100px;
    /* position: relative; */
    color: #FCF8F3;
    font-size: 75px;
    display: flex;
    justify-content: center;
}

.parent {
    /* border: 2px solid lightgray; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FCF8F3;
    width: 60%;
    justify-content: center;
    text-align: center;
    padding: 100px;
    margin: 100px;
    border-radius: 2%;  
   position: absolute;
    top:50;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 100px;
    margin: auto;
  }

  .parent2 {
    /* border: 2px solid lightgray; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FCF8F3;
    width: 60%;
    justify-content: center;
    text-align: center;
    padding: 100px;
    /* margin: 100px; */
    border-radius: 2%;  
   /* position: absolute; */
    top:50;
    /* bottom: 0;
    left: 0;
    right: 0; */
    padding-bottom: 100px;
    /* margin: auto; */
    height: 100px;
  }

.firstPage {
    background-color: FCF8F3;
    display: flex;
    align-items: center;  
    justify-content: flex-end;  
    padding: 10px;
    left: 300px;
    color: #6E7DA2;
    
    
    
}



/* #doc3 {
    margin: auto 10px;
    width: auto;
    height: 2000px;
    background-color: #6E7DA2;
} */

.button {
    /* border: 5px solid #AEDADD; */
    /* background-color: #AEDADD; */
    display: flex;
    align-items: center;  
    justify-content: flex-end;  
    padding: 10px;
    color: #6E7DA2;
    /* left: 300px; */
    /* right: 300px; */
    /* width: 90px; */
}

.toLogin {
    display: flex;
    align-items: center;  
    justify-content: flex-end;  
    padding: 10px;
    left: 300px;
    font-size: x-small;
    color: #6E7DA2;
}

img{
   
    position: absolute;
    border-radius: 2%;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    
}

/* modal styling */
.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-title{
    display: flex;
    align-items: center;
}

.modal-content{
    margin: 10px;
}

.country-name{
    margin-right: 8px;
}